<%= form_for @user, html: { class: "form-horizontal col-md-8 col-md-offset-2" }, url: users_url do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>
      Enter User Details
    </legend>

    <div class="form-group">
      <%= f.label :name, 'Name:', class: "col-md-2" %>
      <div class="col-md-9">
        <%= f.text_field :name, { class: "form-control", maxlength: '200' }%>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email, 'Email:', class: "col-md-2" %>
      <div class="col-md-9">
        <%= f.email_field :email, { class: "form-control", maxlength: '200' }%>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :library_id, 'Library Id:', class: "col-md-2" %>
      <div class="col-md-9">
        <div class="well well-sm library_id_field">
          <p><%= @user.library_id  %></p>
        </div>
        <p class="text-muted">managed internally</p>
      </div>
    </div>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
    <%= link_to 'Back', users_path, class: 'btn btn-success' %>
  </div>

<% end %>
