<p id="notice"><%= notice %></p>
<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="col-md-9"><%= @user.name %></span>
        <%= link_to 'Edit', edit_user_path(@user), { class: "btn btn-primary col-md-offset-1" } %>
        <%= link_to 'Back', users_path, { class: "btn btn-primary" } %>
      </h3>
    </div>
    <div class="panel-body">
      <div class="container">
        <p class="lead">
          <span class="text-primary">Email</span>
          <span class-text="text-primary"><%= @user.email %></span>
        </p>
        <p class="lead">
          <span class="text-primary">Role</span>
          <span class-text="text-primary"><%= @user.role.name %></span>
        </p>
      </div>
    </div>
  </div>

</div>
