<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th >Name</th>
      <th >Quantity</th>
      <th >Copies Issued</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.name,  book_path(book) %></td>
        <td><%= book.quantity %></td>
        <td><%= book.copies_issued %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
