<p id="notice"><%= notice %></p>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="col-md-9"><%= @book.name %></span>
      <%= link_to 'Edit', edit_book_path(@book), { class: "btn btn-primary col-md-offset-1" } %>
      <%= link_to 'Back', books_path, { class: "btn btn-primary" } %>
    </h3>
  </div>
  <div class="panel-body">
    <div class="container">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge"><%= @book.quantity %></span>
          Total Quantity
        </li>
        <li class="list-group-item">
          <span class="badge"><%= @book.copies_issued %></span>
          Copies Issued
        </li>
        <li class="list-group-item">
          <span class="badge"><%= @book.available_copies %></span>
          Available Copies
        </li>
      </ul>
    </div>
  </div>
</div>
