<!DOCTYPE html>
<html>
<head>
  <title>LibraryApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">My Library App</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "Books Status", books_url %></li>
            <li><%= link_to "All Users", users_url %></li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <% if current_user %>
                <li><%= link_to "Sign Out", logout_url %></li>
              <% else %>
                <li><%= link_to "Sign in", login_url %></li>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

<%= yield %>

</body>
</html>
